{% block content %}
<body style="background-color:#FFFFD4;">
	<div style="float:right;word-spacing:0;">
		<a class="topnav" href="http://localhost:8000/Rest_Farmington/" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			Home
			</font>
		</a>
		<span style="letter-spacing:25px;">
			|
		</span>
		<a class="topnav" href="http://localhost:8000/Rest_Farmington/city/" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			City
			</font>
		</a>
		<span style="letter-spacing:25px;">
			|
		</span>
		<a class="topnav" href="http://localhost:8000/Rest_Farmington/about/" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			About 
			</font>
		</a>
		<span style="letter-spacing:25px;">
			|
		</span>
		<a class="topnav" href="http://localhost:8000/Rest_Farmington/contactus/" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			Contact Us
			</font>
		</a>
	</div>
	<div class="main">
		<div id="container">
			<br></br>
			<!--div id="header" style="background-color:#FFA500;"-->
			<h1 class="title">
				<div align="center">
					<font face="Lucida Calligraphy, Lucida Handwriting, WhisperWrite, Brush Script MT" size=5 > 
					Following cities are included 
					</font>
					<ul>
						<font face="Lucida Calligraphy, Lucida Handwriting, WhisperWrite, Brush Script MT" size=3 > 
							<li>Detroit</li>
							<li>Farmington</li>
							<li>Farmington Hills</li>
							<li>Southfield</li>
							<li>Redford</li>
							<li>Livonia</li>
							<li>Dearborn</li>
							<li>Dearborn Heights</li>
							<li>Birmingham</li>
							<li>Oak Park</li>
							<li>Novi</li>
							<li>Westland</li>
							<li>Royal Oak</li>
						</font>
					</ul>
				</div>
			</h1>
			<br> </br>	
			<img style = "float:center"src="http://s3-media4.ak.yelpcdn.com/assets/2/www/img/e41bc8917803/structural/happy_footer.png" 
			width="1200" height="250">
		</div>
	</div>
</body>
{% endblock %}

