{% block content %}
<body style="background-color:#FFFFD4;">
	<div style="float:right;word-spacing:0;">
		<a class="topnav" href="/" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			Home
			</font>
		</a>
		<span style="letter-spacing:25px;">
			|
		</span>
		<a class="topnav" href="/city/" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			City
			</font>
		</a>
		<span style="letter-spacing:25px;">
			|
		</span>
		<a class="topnav" href="/about/" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			About 
			</font>
		</a>
		<span style="letter-spacing:25px;">
			|
		</span>
		<a class="topnav" href="https://github.com/champikagg/FlavorMatcher" target="_top">
			<font face="Gabriola, Gabriola Handwriting, WhisperWrite, Brush Script MT" size=5 >
			GitHub
			</font>
		</a>
	</div>
	<br></br>
	<div class="main">
		<div id="container">
			
			<h1 class="title">
				<div align="center">
					
				</div>
			</h1>
                        <p>
                                <font face="Lucida Calligraphy, Lucida Handwriting, WhisperWrite, Brush Script MT" size=3 >
                                <iframe src="//slides.com/champikagamage/deck/embed" width="700" height="555" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscre$
                                </font>
                        </p>

			
		</div>
	</div>
</body>
{% endblock %}

